* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
}
body{
  min-height: 1000px;
  background-color: rgb(179, 184, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.head{
margin-top: 20px;
display: grid;
}
.container{
  position: relative;
  margin: 50px;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.container .left{
  position: relative;
  background-color: rgb(93, 116, 142);
  padding: 40px
}
.container .right{
  position: relative;
  padding: 40px;
  background-color: #fff;
}
.myinfo{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(255,255,255,0.2);
}
.myinfo .img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.ava {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.myinfo h3{
  color: #fff;
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
}
.myinfo span{
  font-size: 0.8em;
  font-weight: 300;
}
.contacts{
  padding-top: 30px;
}
.name{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: default;
}
.contacts ul{
  position: relative;
}
.contacts ul li {
  list-style: none;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  color:rgb(73, 30, 109);
}
.contacts ul li .icon{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color:rgb(73, 30, 109);
}
.linkgh{
  color:rgb(167, 135, 194);
  text-decoration: none;
}
@keyframes color-change {
  0% {
    color: blue;
  }

  50% {
    color: rgb(240, 148, 74);
  }

  100% {
    color: blue;
  }
}
.anim {
  animation: color-change 0.5s infinite;
}
.abtme h5{
  margin-top: 10px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  line-height: 25px;
  padding: 10px 15px;
  background-color:rgb(211, 200, 249);
}
.abtme h3{
  text-transform: uppercase;
  text-align: center;
}
.abtme{
  padding: 20px;
}
.code h3{
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.turtle{
  background-color: rgba(203, 203, 203, 0.608);
  color:rgb(73, 30, 109);
  font-weight: 500;
  padding-left: 40px;
}
.exp h3{
  text-align: center;
  margin-top: 60px;
  text-transform: uppercase;
}
.exp{
  background-color:rgb(211, 200, 249);
}
.exp ul li{
  list-style: none;
  text-align: center;
}
.exp h4{
  padding-bottom: 20px;
  padding-top: 10px;
  font-weight: 400;
}
.exp h3{
  padding-top: 20px;
}
.nioly{
  text-decoration: none;
  color: black;
}
.rs{
  text-decoration: none;
  color: black;
}
.eng{
  margin-top: 60px;
  background-color:rgb(211, 200, 249);
  text-align: center;
}
.eng h3{
  text-transform: uppercase;
  padding-top: 20px;
}
.eng h4{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 400;
}
.englev{
  text-decoration: none;
  color: black;
}
.lll{
  text-decoration: none;
  color:rgb(73, 30, 109)
}
.cont{
  padding-bottom: 30px;
}
.nav ul li{
  list-style: none;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px; 
}
.nav h4{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: default;
}
.footer{
  display: flex;
  width: 100%;
  max-width: 1000px;
  flex-direction: row;
  justify-content:space-around;
  margin-bottom: 60px;
}
footer{
  width: 100%;
  max-width: 1000px;
}
.rslogo{
  width: 80px;
  height: 80px;
}
.link{
align-items: center;
margin-top: 30px;
}
.snow{
  align-items: center;
  margin-top: 30px;
}
